@model IEnumerable<OnTheBlog.Models.Tag>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <p class="pt-3">
        <a class="axil-button button-rounded btn-primary mb-5" asp-action="Create">New Tag</a>

    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tag tag in Model)
            {
                <tr>
                    <td>
                        @tag.Name
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@tag.Id">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@tag.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
